#u506 {
    background-color: #565656;
}

#u506_align_to_page {
    max-width: 960px;
}

#u507-6 {
    background-color: transparent;
    color: #7F7F7F;
    font-family: open-sans, sans-serif;
    font-weight: 700;
}

#u512-4 {
    background-color: transparent;
    color: #7F7F7F;
    text-align: right;
    font-family: open-sans, sans-serif;
    font-weight: 700;
}
